<div class="intro2">
  <div class="middlebit">
    <h1>You are the one who catches more!</h1><br>
    Below are your current fishing preferences. You can update these here:
    <br><br>
    <%= simple_form_for(current_user, :url => registration_path(current_user), :html => { :method => :put, :class => 'form-vertical ' }) do |f| %>
    <%= f.error_notification %>
      <%= display_base_errors current_user %>
      <%= f.input :dry_fly, inline_label: 'I use dry flies', as: :boolean, label: false %>
      <%= f.input :wet_fly, inline_label: 'I use wet flies', as: :boolean, label: false %>
      <%= f.input :lure, inline_label: 'I use lures', as: :boolean, label: false %>
      <%= f.input :still_water, inline_label: 'I fish lakes', as: :boolean, label: false %>
      <%= f.input :river, inline_label: 'I fish rivers', as: :boolean, label: false %>
      <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
      <%= f.button :submit, 'Update', :class => 'btn-primary' %>
    <% end %>
  </div>
</div>
