<% if user_signed_in? %>
User is signed in
<% else %>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script> 

<div id="welcome" class="hero-unit span7">
  <h1>Accufly - fishing flies made simple</h1>
  <h3>Choose a package. Receive your fishing flies each month</h3>
</div>
<br>
<!-- Nav tabs -->
<div class="clearfix">
  </div>
<ul class="nav nav-tabs">
  <li><a href="#home" data-toggle="tab">Trout</a></li>
  <li><a href="#profile" data-toggle="tab">Sea Trout</a></li>
  <li><a href="#messages" data-toggle="tab">Salmon</a></li>

</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home">
  <div class="row span8 plans">
  <div class="span2 well">
    <div class="plan"><h2>Silver</h2></div>
    <ul class="unstyled">
      <li>5 Trout flies  a month</li>
    </ul>
    <h3>£4.99/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'silver'), :class => 'btn btn-primary' %> 
  </div>
  <div class="span2 well featured">
    <div class="plan featured-plan"><h2>Gold</h2></div>
    <ul class="unstyled">
      <li>12 Trout flies a month</li>
    </ul>
    <h3>£9.99/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'gold'), :class => 'btn btn-primary' %> 
  </div>
  <div class="span2 well">
    <div class="plan"><h2>Platinum</h2></div>
    <ul class="unstyled">
      <li>20 Trout flies a month</li>
    </ul>
    <h3>£14.99/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'platinum'), :class => 'btn btn-primary' %> 
  </div>
</div>
</div>
  <div class="tab-pane" id="profile">
  <div class="row span8 plans">
  <div class="span2 well">
    <div class="plan"><h2>Silver</h2></div>
    <ul class="unstyled">
      <li>5 Sea Trout flies  a month</li>
    </ul>
    <h3>£4.99/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'silver'), :class => 'btn btn-primary' %> 
  </div>
  <div class="span2 well featured">
    <div class="plan featured-plan"><h2>Gold</h2></div>
    <ul class="unstyled">
      <li>12 ea Trout flies a month</li>
    </ul>
    <h3>£9.99/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'gold'), :class => 'btn btn-primary' %> 
  </div>
  <div class="span2 well">
    <div class="plan"><h2>Platinum</h2></div>
    <ul class="unstyled">
      <li>20 ea Trout flies a month</li>
    </ul>
    <h3>£14.99/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'platinum'), :class => 'btn btn-primary' %> 
  </div>
</div></div>
  <div class="tab-pane" id="messages">
  <div class="row span8 plans">
  <div class="span2 well">
    <div class="plan"><h2>Silver</h2></div>
    <ul class="unstyled">
      <li>5 Salmon flies a month</li>
    </ul>
    <h3>£4.99/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'silver'), :class => 'btn btn-primary' %> 
  </div>
  <div class="span2 well featured">
    <div class="plan featured-plan"><h2>Gold</h2></div>
    <ul class="unstyled">
      <li>12 Salmonflies a month</li>
    </ul>
    <h3>£9.99/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'gold'), :class => 'btn btn-primary' %> 
  </div>
  <div class="span2 well">
    <div class="plan"><h2>Platinum</h2></div>
    <ul class="unstyled">
      <li>20 Salmon flies a month</li>
    </ul>
    <h3>£14.99/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'platinum'), :class => 'btn btn-primary' %> 
  </div>
</div>
</div>
</div>

<% end %>
