       <script type="text/javascript">
       $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');

    })
       </script> 

<script type="text/javascript">
$(function () {
$('#myTab a:first').tab('show');
})
</script>




    <script type="text/javascript">
$(document).ready(function(){
   // cache the window object
   $window = $(window);
 
   $('section[data-type="background"]').each(function(){
     // declare the variable to affect the defined data-type
     var $scroll = $(this);
                     
      $(window).scroll(function() {
        // HTML5 proves useful for helping with creating JS functions!
        // also, negative value because we're scrolling upwards                            
        var yPos = -($window.scrollTop() / $scroll.data('speed'));
         
        // background position
        var coords = '50% '+ yPos + 'px';
 
        // move the background
        $scroll.css({ backgroundPosition: coords });   
      }); // end window scroll
   });  // end section function
}); // close out script
</script> 


<!-- Section 1 -->
<section id="intro" data-speed="6" data-type="background">
    <div class="container-fluid">
        <div class='span9'>
    <div class="hero-unit">
    <h1>Flies made simple</h1>
    <p>Discover. Learn. Catch</p>
    <p>
    </div>
    </div>
    </div>
</section>
<!-- Section 2 -->
<section id="home" data-speed="4" data-type="background">
    <div class="container-fluid">
    <ul class="nav nav-tabs" id="myTab">
      <li><a href="#nothome" data-toggle="tab">Trout</a></li>
      <li><a href="#profile" data-toggle="tab">Sea Trout</a></li>
      <li><a href="#messages" data-toggle="tab">Salmon</a></li>
    </ul>
    </div>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="nothome">
  <div class="row span12 plans">
  <div class="span3 offset1 well dip">
    <div class="plan"><h2>Silver</h2></div>
    <ul class="unstyled">
      <li>5 Trout flies every month</li>
    </ul>
    <h3>£4.99/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'silver'), :class => 'btn' %> 
  </div>
  <div class="span3 well featured">
    <div class="plan featured-plan"><h2>Gold</h2></div>
    <ul class="unstyled">
      <li>12 Trout flies every month</li>
    </ul>
    <h3>£9.99/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'gold'), :class => 'btn' %> 
  </div>
  <div class="span3 well dip">
    <div class="plan"><h2>Platinum</h2></div>
    <ul class="unstyled">
      <li>20 Trout flies every month</li>
    </ul>
    <h3>£14.99/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'platinum'), :class => 'btn' %> 
  </div>
</div>
</div>
  <div class="tab-pane" id="profile">
  <div class="row span12 plans">
  <div class="span3 offset1 well dip">
    <div class="plan"><h2>Silver</h2></div>
    <ul class="unstyled">
      <li>5 Sea Trout flies  every month</li>
    </ul>
    <h3>£4.99/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'silver'), :class => 'btn' %> 
  </div>
  <div class="span3 well featured">
    <div class="plan featured-plan"><h2>Gold</h2></div>
    <ul class="unstyled">
      <li>12 Sea Trout flies every month</li>
    </ul>
    <h3>£9.99/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'gold'), :class => 'btn' %> 
  </div>
  <div class="span3 well dip">
    <div class="plan"><h2>Platinum</h2></div>
    <ul class="unstyled">
      <li>20 Sea Trout flies every month</li>
    </ul>
    <h3>£14.99/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'platinum'), :class => 'btn' %> 
  </div>
</div></div>
  <div class="tab-pane" id="messages">
  <div class="row span12 plans">
  <div class="span3 offset1 well dip">
    <div class="plan"><h2>Silver</h2></div>
    <ul class="unstyled">
      <li>5 Salmon flies every month</li>
    </ul>
    <h3>£4.99/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'silver'), :class => 'btn' %> 
  </div>
  <div class="span3 well featured">
    <div class="plan featured-plan"><h2>Gold</h2></div>
    <ul class="unstyled">
      <li>12 Salmonflies every month</li>
    </ul>
    <h3>£9.99/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'gold'), :class => 'btn' %> 
  </div>
  <div class="span3 well dip">
    <div class="plan"><h2>Platinum</h2></div>
    <ul class="unstyled">
      <li>20 Salmon flies every month</li>
    </ul>
    <h3>£14.99/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'platinum'), :class => 'btn' %> 
  </div>
</div>
</div>
</div>
</section>
<!-- Section 3 -->
<section id="about" data-speed="2" data-type="background">
    <div class="container-fluid">
        This is the final section!
    </div>
</section>


