<%= link_to "Accufly", root_path, :class => 'brand' %>
<ul class="nav pull-right">
  <li>
    <%= link_to "Buy", "#buy", "data-toggle" => "elementscroll" %>      
    </li>
      <li>
    <%= link_to "What you get", "#whatyouget", "data-toggle" => "elementscroll" %>      
    </li>
          <li>
    <%= link_to "How it works", "#howitworks", "data-toggle" => "elementscroll" %>      
    </li>
              <li>
    <%= link_to "Customer Quotes", "#socialproof", "data-toggle" => "elementscroll" %>      
    </li>
  <li>
    <%= link_to 'About', "#about", "data-toggle" => "elementscroll" %>        
    </li>
    <li>
    <%= link_to 'FAQs', "#socialproof", "data-toggle" => "elementscroll" %>        
    </li>

  <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>        
    </li>
  <% else %>
    <li >
    <%= link_to 'Login', new_user_session_path %>  
    </li>
  
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
  <% end %>
</ul>

