<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Accufly" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Stripe Membership Saas" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container-fluid">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </div>
    <div id="main" role="main">
      <div>
        <div class="content">
          <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
            <div class="footer">
              <div class="container-fluid">
                <div class="pull-left">
                  © Accufly 2014|
                  <%= link_to 'About', root_path(anchor: "about"), "data-toggle" => "elementscroll", :class => 'white' %>
                  |
                  <%= link_to 'Terms & Conditions', termsandconditions_path, :class => 'white' %>
                </div>
                <div class="pull-right">
                  Catch more.
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
      <!--! end of .container -->
    </div>
    <!--! end of #main -->
  </body>
</html>
